@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer utilities {
  .scale-canvas {
    --scale: calc(100% / 1440);
    transform: scale(var(--scale));
  }
}
