@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer utilities {
  .scale-canvas {
    --scale: calc(100% / 1440);
    transform: scale(var(--scale));
  }
}

/*
.login-form .btn {
  background-color: #059669; 
  color: #ffffff;
  border: 0;
  border-radius: 0.375rem; 
}
*/

.login-form .btn:hover {
  background-color: #047857; 
}

.login-form .btn-sm {
  padding: 0.5rem 1rem; 
  font-size: 0.875rem; 
}

.login-form .input {
  border: 2px solid #059669; 
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.375rem; 
}

.login-form .input:focus {
  outline: none;
  border-color: #047857;
  box-shadow: 0 0 0 3px rgba(5, 150, 105, 0.1);
}

.login-form .input::placeholder {
  color: #9ca3af; 
}

